html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    margin:0;
    padding:0;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
/* The main content of the page */
div.container,
div.content {
    width: 1200px;
    margin: 0 auto;
}
body {
    /*background: linear-gradient(white, black);*/
    background: repeating-linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    font-family: Arial, serif;
    padding-top: 330px;
}
header {
    padding: 25px 0;
}
h2 {
    color: #00b8e4; /* Change this color */
    margin-bottom: 20px;
}
h3 {
    color: #00b8e4;
}
img {
    float: left;
    width: 100px;
    display: inline-block;
}
#copyright {
    float: right;
    display: inline-block;
}

/* Content part */
.below-content {
    padding: 10px 0px 0px 70px;
}
div.content::after {
    content: '';
    display: block;
    clear: both;
}
main {
    width: 90%;
    float: left;
    padding-right: 40px;
}
/* Main text */
article {
    margin-top: 30px;
}
article img {
    float: left;
    width: 200px;
    margin-right: 30px;
}
article::after {
    content: '';
    display: block;
    clear: both;
}
article p {
    line-height: 2;
    text-align: justify;
}
article ul {
    line-height: 2;
    text-align: justify;
}
.image-left {
    float: right;
    width: 250px;
    padding-right: 50px;
    border-radius: 50%;
}
.button {
    background-color: #4682B4;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
}

* {box-sizing:border-box}

.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: rgba(23, 121, 186, 0.1);
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}

.sticky-shrinknav-menu a {
  color: #fefefe;
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
      -ms-transform: translateY(-1.875rem);
          transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: #fefefe;
}

.sticky-shrinknav-header {
  width: 100%;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196e3;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
  background-color: rgba(23, 121, 186, 0.9);
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.3s ease;
}
